# Ignore python envs
*venv*/

# Ignore cache files
__pycache__/

# Ignore temporary files
*IGN.*

# Ignore temporary notebook files
.ipynb_checkpoints/
notebooks/*
*.ipynb

# Ignore local paths file
*directories.txt
*.json

# Ignore logs
logs*/
errs*/
*.out
*.err
*.log

# Ignore package info
src/*.egg-info/*

# Ignore R environment
*.Rproj
*.Rhistory
*.Rprofile
*renv.lock
*/renv/*

# Ignore Snakemake logs
.snakemake/*

# Other
output/*
*_IDs.txt
run_pipeline_slurm.sh
